/*
 * Copyright (c) 2024, STRIM, ALC
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&pinctrl {
	pinmux_flexio1spi0: pinmux_flexio1spi0 {
		group0 {
			pinmux =
				<&iomuxc_gpio_emc_00_gpio4_io00>, /* cs */
				<&iomuxc_gpio_emc_01_flexio1_flexio01>, /* sck */
				<&iomuxc_gpio_emc_02_flexio1_flexio02>, /* sdo */
				<&iomuxc_gpio_emc_03_flexio1_flexio03>; /* sdi */
			drive-strength = "r0-6";
			slew-rate = "slow";
			nxp,speed = "150-mhz";
		};
	};
	pinmux_flexio1spi1: pinmux_flexio1spi1 {
		group0 {
			pinmux =
				<&iomuxc_gpio_emc_04_gpio4_io04>, /* cs */
				<&iomuxc_gpio_emc_05_flexio1_flexio05>, /* sck */
				<&iomuxc_gpio_emc_06_flexio1_flexio06>, /* sdo */
				<&iomuxc_gpio_emc_07_flexio1_flexio07>; /* sdi */
			drive-strength = "r0-6";
			slew-rate = "slow";
			nxp,speed = "150-mhz";
		};
	};
};

&flexio1 {
	status = "okay";
	flexio1_spi0: flexio1_spi0 {
		compatible = "nxp,flexio-spi";
		status = "okay";
		#address-cells = <1>;
		#size-cells = <0>;
		cs-gpios = <&gpio4 0 GPIO_ACTIVE_LOW>;
		sdo-pin = <2>;
		sdi-pin = <3>;
		sck-pin = <1>;
		pinctrl-0 = <&pinmux_flexio1spi0>;
		pinctrl-names = "default";
		slow@0 {
			status = "okay";
			compatible = "test-spi-loopback-slow";
			reg = <0>;
			spi-max-frequency = <500000>;
		};
	};
	flexio1_spi1: flexio1_spi1 {
		compatible = "nxp,flexio-spi";
		status = "okay";
		#address-cells = <1>;
		#size-cells = <0>;
		cs-gpios = <&gpio4 4 GPIO_ACTIVE_LOW>;
		sdo-pin = <6>;
		sdi-pin = <7>;
		sck-pin = <5>;
		pinctrl-0 = <&pinmux_flexio1spi1>;
		pinctrl-names = "default";
		fast@0 {
			status = "okay";
			compatible = "test-spi-loopback-fast";
			reg = <0>;
			spi-max-frequency = <4000000>;
		};
	};
};
